<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("partials/head.ejs") %> 
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <% logs.forEach(element => { %>
            <div class="posts">
                <div class="post-content">
                    <h1 class="titulo"><%= element.titulo %> </h1>
                    <p class="texto"><%= element.texto %> </p>
                    <p class="data"><%= element.date %> </p>
                </div>
            </div>
        <% }) %>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="/js/main.js"></script>
</body>
</html>