<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("partials/head.ejs") %> 
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div>
        <% logs.forEach(element => { %>
         <h1><%= element.titulo %> </h1>
         <p><%= element.texto %> </p>
         <p><%= element.date %> </p>
        <% }) %>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="/js/main.js"></script>
</body>
</html>